@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100&display=swap');

body {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  background-color: #14172B;
}