.card_wrapper {
    box-sizing: border-box;
    position: relative;
    max-width: 250px;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgba(46, 49, 73, 0.1) 107.43%);
    --webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    margin-top: -36px;
    border-radius: 25px;
}
.card_wrapper::before{
    border-radius: 100%;
    position: absolute;
    background: #14172B;
    right: 25%;
    left: 25%;
    top: -25%;
    content: '';
    bottom: 85%;
}

h4 {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 31px;
    margin: auto 20px;
    color: #737BAE;   
    opacity: 0.9;
}

.content_wrapper {
    width: 80%;
    padding-top: 55px;
    padding-bottom: 20px;
}

.icon_wrapper{
    position: relative;
    max-width: 100%;
    width: 100%;
    z-index: 10;
    text-align: center;
}

.icon_wrapper img{
    position: absolute;
    margin: auto;
    text-align: center;
    top: 25%;
    left: 0;
    z-index: 12;
    right: 0;
}

.icon_wrapper div{
    width: 100px;
    height: 100px;
    margin: auto;
    /* position: relative; */
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgba(220, 31, 255, 0.1) 100%);
    z-index: 8;
    text-align: center;
}

.amount_container {
    box-sizing: border-box;
    height: 40px;
    left: 21px;
    top: 160px;
    text-align: center;
    color: white;
    background: #14172B;
    border-radius: 17px;
    opacity: 0.9;
    align-items: center;
    display: flex;
    justify-content: center;
}

.amount_container span:first-child {
    text-align: center;
}

.amount_container span:last-child {
    position: absolute;
    float: right;
    right: 45px;
    margin-left: 10px;
}

.amount_container_popularpoints{
    box-sizing: border-box;
    height: 40px;
    left: 21px;
    top: 160px;
    text-align: center;
    color: white;
    background: #14172B;
    border-radius: 17px;
    opacity: 0.9;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin: auto;
}

.icon_card_wrapper{
    width: 100%;
    margin: 20px;
}

.popular_points_images{
    width: 25px;
    margin: 2px;
    height: auto; 
}